@import 'tailwindcss';

@plugin "tailwindcss-animate";

* {
  font-family: "inter", Arial, Helvetica, sans-serif !important;
}

:root {
  /* base color */
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --green: rgb(79, 190, 40);
  --blue: rgb(45, 91, 255);
  --orange: rgb(254, 102, 69);
  --purple: rgb(147, 63, 255);

  /* gray color */
  --gray-1: rgb(241, 241, 241);
  --gray-2: rgb(226, 227, 230);
  --gray-3: rgb(195, 200, 204);
  --gray-4: rgb(169, 174, 178);
  --gray-5: rgb(144, 148, 154);
  --gray-6: rgb(112, 115, 120);

  /* swiper js custom code */
  --swiper-navigation-size: 24px !important;
  --swiper-theme-color: var(--black) !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
lg-title-1,
lg-title-2 {
  font-weight: 500 !important;
}

/* custom defult font style */
@layer components {
  .lg-title-1 {
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: -1.2px;
  }

  .lg-title-2 {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -1px;
  }

  .body-20 {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.8px;
  }

  .body-20.medium {
    font-weight: 500;
  }

  .body-18 {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.6px;
  }

  .body-18.medium {
    font-weight: 500;
  }

  .body-16 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.5px;
  }

  .body-16.medium {
    font-weight: 500;
  }

  .body-14 {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.4px;
  }

  .body-14.medium {
    font-weight: 500;
  }

  .body-12 {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.3px;
  }

  .body-12.medium {
    font-weight: 500;
  }
}

/* custom style */
@layer components {
  .description {
    color: var(--gray-6);
  }

  .button {
    padding: 6px 24px;
    border-radius: 8px;
    background: var(--black);
    color: var(--white);
    text-align: center;
    border: 1px solid var(--black);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    font-weight: 500;
  }

  .button.banner {
    padding: 12px 16px;
    border-radius: 8px;
    background: var(--black);
    color: var(--white);
    text-align: center;
    border: 1px solid var(--black);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    font-weight: 500;
  }

  .button:hover {
    border-radius: 10px;
    border: 1px solid var(--gray-2);
    color: var(--black);
    background: transparent;
  }

  .button.transparent {
    padding: 6px;
    background: transparent;
    border-radius: 10px;
    border: 1px solid var(--gray-2);
    color: var(--black);
  }

  .input {
    padding: 8px 12px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 1px solid var(--gray-2);
    border-radius: 4px;
    gap: 8px;
  }

  .bar {
    width: 0%;
    height: 4px;
    background-color: var(--gray-4);
    transition: width 0.3s ease-in-out;
    border-radius: 4px;
  }

  .navlink:hover .bar {
    width: 100%;
  }
}

/* swiper js custom css */
@layer components {
  .swiper-button-next {
    color: var(--black) !important;
    height: 2px;
  }
}

/* all custom style for base */
@layer base {
  h1 {
    font-size: 120px;
    font-style: normal;
    font-weight: 500;
    line-height: 120px;
    letter-spacing: -4px;
  }

  h2 {
    font-size: 96px;
    font-style: normal;
    font-weight: 500;
    line-height: 100px;
  }

  h3 {
    font-size: 72px;
    font-style: normal;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: -2.5px;
  }

  h4 {
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px;
    letter-spacing: -2px;
  }

  h5 {
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -1.6px;
  }

  h6 {
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -1.6px;
  }

  input {
    width: 100%;
    outline: none !important;
    color: var(--black);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
  }

  input::placeholder {
    color: var(--gray-6);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

/* Customize NProgress Bar */
#nprogress .bar {
  background: var(--purple) !important;
  /* YouTube-style red */
  height: 3px;
}

/* Loader Fade Animation */
#nprogress .peg {
  box-shadow: 0 0 10px var(--purple), 0 0 5px var(--purple);
}

/* Remove Spinner */
#nprogress .spinner {
  display: none !important;
}